[Unit]
Description=Rails app asservice
After=network.target

[Service]
Type=simple
Environment="PATH=/home/ec2-user/.nvm/versions/node/v15.11.0/bin:/opt/rbenv/shims:/opt/rbenv/bin:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/home/ec2-user/.local/bin:/home/ec2-user/bin"
ExecStart=/home/ec2-user/puma.sh
Restart=always
User=ec2-user

[Install]
WantedBy=multi-user.target
